<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section id="contact">
      <nav class="nav nav-pills nav-justified">
  <a class="nav-link" href="https://www.facebook.com/rhys.cairns.7/">
      <span style="font-size: 3em;">
 <i class="fab fa-facebook"></i>
</span></a>
   <a class="nav-link" href="https://www.linkedin.com/in/rhys-cairns-648018aa/">
      <span style="font-size: 3em;">
  <i class="fab fa-linkedin"></i>
</span></a>
  <a class="nav-link" href="https://github.com/cairnsy6">
      <span style="font-size: 3em;">
  <i class="fab fa-github"></i>
</span></a>
</nav>
    </section>
</body>
</html>